#

# not used, the spice2 is inlined in the tb-template before enumer goes to work:
dim("${R_LOAD}", ["70"])
dim("${R_clk_buf1_BASE}", ["10"])
dim("${R_clk_buf1_BUFF}", ["50"])
dim("${CORNER}", ["tt"])
dim("${TEMP}", ["25"])
dim("${VDDD}", ["1.8"])

